# R files
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/

# RStudio files
.Rproj.user/

# knitr/R markdown
*_cache/
/cache/
*.utf8.md
*.knit.md

# pkgdown site
docs/

# translation
po/*~

# Mac
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
